.category-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 247, 226, 1);
}
  
.category-box {
    width: 330px;
    height: 148px;
    background-color: rgba(255, 247, 226, 1);
    border: 1px solid rgba(255, 241, 207, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 4px;
    gap: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
  
.image-container {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgba(255, 241, 207, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.image-container img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    object-fit: contain;
}
  
.category-text {
    width: 206px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    color: rgba(58, 100, 59, 1);
    margin-top: 10px;
}
  